// ---------- SEARCH BAR STYLES ---------- //
#search {
    width: 50%;
    height: 30px;
    margin: 3% 25% 1.5% 25%;
    padding: 1%;
    border: solid 2px lightgray;
    border-radius: 5px;
    font-size: large;

    &::placeholder {
        color: darken(lightgray, 25);
    }
} 